*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  .varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  header, .main, footer{
    width: 90%;
    margin: 5px auto;
  }

  .Main{
    background-color: #f2f2f2;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 78vh;
    display: flex;
  }

  h1{
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    font-size: 25px;
  }

  .Main .sidebar {
    min-width: 250px;
    background: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
  }

.sidebar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background: #495057;
  color: #fff;
  text-decoration: none;
  text-underline-offset: unset;
}
.main-content {
  flex: 1;
  padding: 20px;
}

.hidden {
  display: none;
}

.main-content table tbody tr th{
  background-color: #f1f1f1;
  padding: 1px 15px;
}

.main-content table tbody tr td{
  background-color: #f1f1f1;
  padding: 1px 15px;
}

.resumenbox p{
  font-size: 17px;
  font-weight: 500;
  margin-right: 5%;
  color: #00bb1f;
}

.resumenbox span{
  font-size: 15px;
  color: #333;
}

.resumenbox, .tablabox{
  display: flex;
}

.tablabox{
  display: block;
}

.tablabox h6{
  color: #00bb1f;
}

.tablabox tbody tr th{
  color: #777;
}

.tablabox tbody tr td{
  color: #333;
}

.resumen{
  display: flex;
}

.solicitud{
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.solicitud p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #5e5e5e;
}

.solicitud button{
  width: 48%;
  border: none;
  padding: 4px;
  background-color: #00bb1f;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.solicitud button:hover{
  background-color: #009a1a;
  cursor: pointer;
}

.pedido{
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.pedido p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #5e5e5e;
}

.pedido button{
  width: 100%;
  border: none;
  padding: 5px;
  background-color: #00bb1f;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.pedido button:hover{
  background-color: #009a1a;
  cursor: pointer;
}

#solicitudes-pendientes{
  font-size: 15px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(176, 0, 0);
}

#lista-pedidos{
  font-size: 15px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(176, 0, 0);
}

/*panel administracion de platos*/

#formulario-plato{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#formulario-plato input{
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
}

#formulario-plato button{
  border: none;
  border-radius: 10px;
  background-color: #00bb1f;
  padding: 5px;
  margin: 5px;
}

#formulario-plato button:hover{
  background-color: #009a1a;
  cursor: pointer;
}

#lista-platos .plato{
  margin-top: 3%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #5e5e5e;
  min-width: 300px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plato button{
  width: 48%;
  border: none;
  padding: 5px;
  background-color: #00bb1f;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.plato button:hover{
  background-color: #009a1a;
  cursor: pointer;
}

/*panel administracion de mesas*/

#formulario-mesa{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#formulario-mesa input{
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
}

#formulario-mesa button{
  border: none;
  border-radius: 10px;
  background-color: #00bb1f;
  padding: 5px;
  margin: 5px;
}

#formulario-mesa button:hover{
  background-color: #009a1a;
  cursor: pointer;
}

#lista-mesas .mesa{
  margin-top: 3%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #5e5e5e;
  min-width: 300px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mesa button{
  width: 48%;
  border: none;
  padding: 5px;
  background-color: #00bb1f;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.mesa button:hover{
  background-color: #009a1a;
  cursor: pointer;
}

@media (max-width:700px){
  .resumen{
    flex-direction: column;
  }
}