*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
}

::selection{
    color: rgb(3, 210, 123);
}

body{
    background-color: #f1f1f1;
}

.Main{
    padding: 3%;
}

.Main h1{
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 210, 0);
}

.Main h3{
    font-weight: 300;
    font-family: Verdana;
}

.Contenedor{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    justify-content: center;
    }

.Contenedor .caja{
    min-height: 150px;
    max-width: 190px;
    margin: 2%;
    }

.caja{
    padding: 4%;
    max-height: 240px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 8px 3px #ccc;
    transition: transform .4s ease-in-out, border .4s ease-in-out;
    
}

.caja:hover{
    border: 3px solid #00d504;
    transform: scale(0.98);
}

.caja img{
    width: 100%;
    height: 50%;
    border-radius: 23px;
}

.caja h3{
    color: rgb(0, 210, 0);
    font-weight: 900;
    margin-top: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caja p, span{
    font-family: Arial;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

.caja .button{
    background-color: #fdfdfd;
    display: flex;
    justify-content: flex-end;
    border: none;
}


.caja .button button{
    width: 27px;
    height: 27px;
    background-color: rgb(0, 255, 149);
    border-radius: 5px;
}

.caja .button button:hover{
    background-color: rgb(0, 209, 122);
}

.error-message{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #999;
}


/* #####################  carro menu #################*/

.Menubx {
    position: relative;
    float: right;
    margin-top: 3%;
    padding: 5px;
    width: 95px;
    height: 95px;
    margin-right: 2%;
}

.Menubx img {
    width: 50px;
}

.Menubx img:hover {
    transform: scale(0.93);
    cursor: pointer;
}

.Menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 8px 3px #ccc;
    transition: 1.7s;
}

.Menu.active {
    right: 0;
    transition: .5s;
}

.Menu .titulo{
    margin-top: 2%;
    text-align: center;
    color: #00d504;
    font-size: 35px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Menu .total{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    color: #444444;
    border-top: 1px solid #999;
    font-family: Arial, Helvetica, sans-serif;
}

.Menu .total-precio{
    color: #ed0f0f;
    font-size: 20px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
}

.Menu .btnPedirmenu{
    width: 210px;
    height: 40px;
    font-weight: 900;
    color: #242424;
    border: none;
}

.Menu .cerramenu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 5px;
}

.cerramenu:hover{
    transform: scale(0.90);
    cursor: pointer;
}

.contenido p{
    color: #444444;
    margin-top: 4%;
    font-size: 20px;
    font-weight: 600;
}

.contenido .titulo-contenido{
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-item{
    margin-top: 5%;
}

.menu-item p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-item button{
    background-color: rgb(11, 100, 218);
    color: #fff;
}

.menu-item button:hover{
    background-color: rgb(9, 79, 169);
}

#menu-icon {
    margin-right: 20px; /* Añade más espacio entre el icono de búsqueda y el carrito */
}


.notification {
    position: absolute;
    top: 5px; /* Ajusta según sea necesario */
    right: 5px; /* Alineación dentro del contenedor */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    z-index: 10;
}


/* ##################################################*/

/* ##################### mesas #################*/

.Contenedor2{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: center;
}


.Contenedor2 .caja2{
    min-height: 350px;
    min-width: 280px;
    max-width: 400px;
    margin: 10%;
    }

.Contenedor2 .imagen-carga{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.imagen-carga img{
    width: 50%;
    height: auto; 
    transform: scale(1);
    }

.caja2 .button2, button{
    width: 90px;
    height: 27px;
    background-color: rgb(0, 255, 149);
    font-weight: 800;
    border-radius: 5px;
    margin-top: 2%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.caja2 .button2, button:hover{
    background-color: rgb(0, 209, 122);
}


.caja2{
    padding: 4%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 8px 3px #ccc;
    transition: transform .4s ease-in-out, border .4s ease-in-out;
}

.caja2:hover{
    border: 3px solid #00d504;
    transform: scale(0.98);
}

.caja2 img{
    width: 100%;
    height: 70%;
    border-radius: 23px;
}

.caja2 h3{
    color: rgb(0, 210, 0);
    font-weight: 900;
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caja2 h4{
    color: #999;
    font-size: 12px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ##################################################*/



/* #####################  registro #################*/

.Main2{
    padding: 3%;
}

.Main2 h1{
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 210, 0);
}

.Main2 h3{
    font-weight: 300;
    color: 999;
    font-family: Verdana;
}


.Main2 .Contenedor3{
    width: 35%;
    margin-top: 3%;
    justify-self: center;
    background-color: #fff;
    box-shadow: 0 0 8px 3px #ccc;
    border-radius: 15px;
    padding: 15px;
    height: auto;
}

.Contenedor3{
    max-width: 400px;
    min-width: 400px;
}

.Contenedor3 p{
   font-size: 18px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 500;
}

.Contenedor3 input{
    width: 100%;
    max-width: 400px;
    height: 55px;
    margin: 1%;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    background-color: #99999932;
    color: #272727;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons button{
    width: 190px;
    height: 45px;
    margin: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #404040;
}

.Main2 .Contenedor4{
    width: 100%;
}

.Contenedor4{
    display: flex;
    justify-content: center;
}

.Contenedor4 h4{
    font-size: 30px;
    font-weight: 700;
    color: #00d504;
    margin-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00000050;
}

#main-pantallacarga{
    background: url(informacion/carga2.gif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* ##################################################*/
/* ##################################################*/
/* ##################################################*/


/* ##################### grid de cajas #################*/


@media (max-width:700px){
    .Main{
        padding: 20px;
    }
    
    .Contenedor{
        flex-direction: column;
        align-items: center;
    }

    .Contenedor .caja{
        width: 100%;
    }

    .caja{
        margin: 1%;
        padding: 10px;
        justify-content: center;
        max-width: 200px;
        max-height: 270px;
    }

    .Contenedor2{
        left: 0;
        justify-content: center;
    }

    #main-pantallacarga{
        height: 932px;
    }

    .Contenedor4 h4{
        margin-top: 10%;
        font-size: 20px;
    }
}

/* #####################  registro #################*/

@media (max-width:850px){

    .Main2 .Contenedor3{
        width: auto;
        height: auto;
        margin-top: 10%;
    }

    .Contenedor3 input{
        width: 240px;
        height: 55px;
    }

    .buttons{
        margin-top: 4%;
    }

    .buttons button{
        width: 140px;
        height: 45px;
    }

    .Contenedor3{
        min-width: 300px;
    }

    .Contenedor3 input{
        width: 100%;
        height: 55px;
    }
    
    .buttons button{
        width: 160px;
        height: 45px;
    }

    
}

@media(max-width:800px){
    .notification {
        position: absolute;
        top: 25px;
        right: 10px;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .Menubx {
        width: 70px; /* Ajusta el tamaño del contenedor del carrito */
        height: 70px;
    }

    .notification {
        top: 0; /* Ajusta verticalmente para alinearse con el carrito */
        right: 0; /* Mueve cerca del carrito */
        font-size: 10px; /* Tamaño reducido para móviles */
        padding: 4px 8px; /* Tamaño del círculo reducido */
    }
}



